rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Função auxiliar para verificar autenticação
    function isAuthenticated() {
      return request.auth != null;
    }

    // ARQUIVOS DO APP
    match /artifacts/doghotel-production/public/data {
      
      // 1. Coleção LOGINS
      match /logins/{loginId} {
        allow read: if true;
        allow write: if false; 
      }

      // 2. Outras Coleções Públicas (Clients, Bookings...)
      match /{collectionName}/{docId} {
        allow read, write: if isAuthenticated();
      }
    }

    // REGRA DE NOTIFICAÇÕES (NOVA)
    // Permite que qualquer usuário autenticado (anônimo) salve seu token
    match /artifacts/doghotel-production/system/notification_devices {
      allow read, write: if true; // Aberto para permitir cadastro sem login complexo
    }

  }
}